@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.App {
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: rgb(158, 71, 220); */
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input h2 {
    font-size: 30px;
    margin: 10px;
}

.input input {
    width: 20vw;
    padding: 6px;
    border-radius: 5px;
}

.cards {
    /* border: 1px solid black; */
    width: 60vw;
    /* background-color: rgb(92, 157, 226); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
    /* background: #fff; */
}

@media (max-width: 600px) {
    .cards{
        width: 90vw;
    }
}